.root {
    width: 100%;

    .container {
        max-width: 1440px;
        box-sizing: border-box;
        margin: auto;
        margin-top: 20px;
    }

    @media(max-width:600px) {
        overflow: scroll;
    }

    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }

    @media (min-width: 1440px) {
        .container {
            max-width: 1330px;
        }
    }
}

.root.mobile {
    .container {
        margin: 15px 5px 0 5px;
    }
}