@import "./layout.scss";
@import "./theme.scss";
@import "./react-autosuggest.scss";
@import "../client/components/AdminView/AdminView.scss";
@import "../client/components/Timesheet/Timesheet.scss";
@import "../client/components/Timesheet/SummaryView/SummaryView.scss";
@import "../client/components/Timesheet/ActionBar/WeekPicker/WeekPicker.scss";
@import "../client/components/Projects/Projects.scss";
@import "../client/components/UserMessage/UserMessage.scss";
@import "../client/components/UserAllocation/UserAllocation.scss";


.ms-DetailsRow-check,
.ms-DetailsRow-cellCheck,
.ms-DetailsHeader-cellIsCheck {
  display: none;
}

.ms-DetailsHeader-cellName,
.ms-GroupHeader-title {
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.ms-DetailsRow-cell {
  background: transparent;
  font-size: 1.2em;
  align-self: center;
  padding: 0px 12px;

  span,
  a {
    font-size: 1em;
  }
}

.ms-FocusZone.ms-DetailsRow {
  border: none;
}

div.ms-List-page {
  background: transparent;

  .ms-GroupedList-group {
    margin-top: 1.5em;
    padding-bottom: 1em;
    background: $lightgray_background;

    .ms-GroupHeader {
      border-bottom: 0px;
      &:hover{
        background: $lightgray_background;
      }
    }

    .ms-List-cell {
      .ms-DetailsRow {
        background: transparent;

        &:hover {
          background: $lightgray_background;
        }
      }
    }
  }
}

h3.panel-title a {
  color: #444;
}

button:focus {
  outline: none;
}