@import "./layout.scss";
@import "./react-autosuggest.scss";
@import "../client/components/EventView/EventView.scss";
@import "../client/components/Projects/Projects.scss";
@import "../client/components/UserMessage/UserMessage.scss";
@import "../client/components/UserAllocation/UserAllocation.scss";


.ms-DetailsRow-check,
.ms-DetailsRow-cellCheck,
.ms-DetailsHeader-cellIsCheck {
  display: none;
}

.ms-DetailsHeader-cellName,
.ms-GroupHeader-title {
  font-weight: 100;
  font-size: 11pt;
  letter-spacing: 1px;
}

.ms-DetailsRow-cell {
  span,
  a {
    font-size: 12px;
  }
}

.ms-FocusZone.ms-DetailsRow {
  border: none;
}

div.ms-List-page .ms-GroupedList-group {
  margin-top: 20px;
}

h3.panel-title a {
  color: #444;
}
