@import "./layout.scss";
@import "./theme.scss";
@import "./react-autosuggest.scss";
@import "../client/common/components/UserMessage/UserMessage.scss";
@import "../client/common/components/UserAllocation/UserAllocation.scss";
@import "../client/pages/Admin/Users/UserFormModal/UserFormModal.scss";
@import "../client/pages/Timesheet/Timesheet.scss";
@import "../client/pages/Timesheet/SummaryView/SummaryView.scss";
@import "../client/pages/Timesheet/ActionBar/WeekPicker/WeekPicker.scss";
@import "../client/pages/Timesheet/ProjectColumn/ProjectColumn.scss";
@import "../client/pages/Projects/ProjectDetails/ProjectDetails.scss";
@import "../client/pages/Customers/CustomerList/ConfirmDeleteDialog/ConfirmDeleteDialog.scss";
@import "../client/pages/Projects/CreateProjectForm/SearchCustomer/SearchCustomer.scss";

button:focus {
  outline: none;
}