.loginError {
    margin: 30px 0 0 0;
    min-width: 400px;

    .container {
        padding: 15px 25px;

        h4.text {
            margin: 10px 0 0 0;
        }

        .message {
            word-wrap: break-word;
            line-break: auto;
        }
    }
}