.root {
  display: flex;
  flex-direction: row;
  margin: 0 0 15px 0;

  .icon {
    color: #787878;
    font-size: 45px;
    margin: 0 25px 0 0;
  }

  .title {
    flex: 1 1 0;

    .text {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 0;
    }

    .subText {
      font-size: 1rem;
      color: #787878;
      font-weight: 400;
      margin: 0 0 8px 0;
    }
  }

  .actions {
    .container {
      display: flex;
      margin: 6px 15px 0 8px;

      .actionItem {
        margin: 0 5px 0 0;

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
