.root {
  margin: 5px 0 5px 0;
}

.dropdownOption {
  display: flex;
  flex-direction: row;

  .iconContainer {
    margin: 0 8px 0 0;
    padding: 2% 0 0 0;
  }

  .description {
    color: rgb(96, 94, 92);
    font-size: 10px;
  }
}