AUTH_PROVIDERS=azuread-openidconnect
MICROSOFT_CLIENT_ID=##Insert GUID##
MICROSOFT_CLIENT_SECRET=##Insert Password##
MICROSOFT_REDIRECT_URI=http://localhost:9001/auth/azuread-openidconnect/callback
MICROSOFT_SCOPES=profile offline_access user.read user.read.all calendars.read mailboxsettings.readwrite
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:9001/auth/google/callback
GOOGLE_SCOPES=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/calendar.readonly
PORT=9001
NODE_ENV=development
MICROSOFT_SIGNIN_PROMPT=select_account
SESSION_NAME=did.localhost
SESSION_SIGNING_KEY=##Insert Key##
REDIS_CACHE_HOSTNAME=cache.redis.cache.windows.net
REDIS_CACHE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
APOLLO_KEY=##Insert Apollo key##
APOLLO_GRAPH_VARIANT=localhost
APOLLO_SCHEMA_REPORTING=false
NO_BROWSER=0
OPEN_DELAY=10
CLIENT_LOG_LEVEL=TRACE
API_TOKEN_SECRET=
WEBPACK_NOTIFICATIONS_SUPPRESSSUCCESS=true
WEBPACK_NOTIFICATIONS_SHOWDURATION=true
WEBPACK_NOTIFICATIONS_SOUND=growl
MONGO_DB_CONNECTION_STRING=
MONGO_DB_DB_NAME=test
DEBUG=environment*
LOCALTUNNEL_SUBDOMAIN=
GITHUB_TOKEN=
GITHUB_FEEDBACK_REPO=did-feedback-test
GITHUB_FEEDBACK_ENABLED=1