OAUTH_APP_ID=##Insert GUID##
OAUTH_APP_PASSWORD=##Insert Password##
AZURE_STORAGE_CONNECTION_STRING=##Insert CS##
OAUTH_REDIRECT_URI=http://localhost:9001/auth/callback
OAUTH_SCOPES=profile offline_access user.read user.read.all calendars.read mailboxsettings.readwrite
PORT=9001
NODE_ENV=development
OAUTH_SIGNIN_PROMPT=select_account
SESSION_NAME=did.localhost
SESSION_SIGNING_KEY=##Insert Key##
REDIS_CACHE_HOSTNAME=cache.redis.cache.windows.net
REDIS_CACHE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
APOLLO_KEY=##Insert Apollo key##
APOLLO_GRAPH_VARIANT=localhost
APOLLO_SCHEMA_REPORTING=false
NO_BROWSER=0
OPEN_DELAY=10
CLIENT_LOG_LEVEL=TRACE
API_TOKEN_SECRET=
WEBPACK_NOTIFICATIONS_SUPPRESSSUCCESS=true
WEBPACK_NOTIFICATIONS_SHOWDURATION=true
WEBPACK_NOTIFICATIONS_SOUND=growl
MONGO_DB_CONNECTION_STRING=
MONGO_DB_DB_NAME=test