{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "arrowParens": "always",
  "printWidth": 80,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true
}
