.root {
  [class*="ms-DatePicker-day--today"] {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important;
  }

  [class*="ms-DatePicker-day--highlighted"] {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important;

    button {
      background-color: inherit !important;
      color: inherit !important;
      font-weight: inherit !important;
      border: none !important;
      outline: none !important;
    }
  }
}
