.root {
  .container {
    margin: 8px 0 0 0;

    .progress {
      padding: 10px;
      display: flex;
      flex-direction: row;

      .icon {
        padding: 8px 0 0 0;
        font-size: 36px;
      }

      .indicator {
        margin: 0 0 0 18px;
      }
    }
  }
}
