.c-eventview {
  .c-eventview-actions {
    margin: 10px 0 10px 0;
  }
  .c-eventview-statusbar {
    min-height: 40px;

    .c-usermessage {
      margin: 5px 0;
    }
  }

  .ms-List-cell .ms-DetailsRow {
    min-height: 53px;

    .ms-DetailsRow-cell > {
      span,
      a {
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
      }
    }
  }
}

.c-resolveproject-modal {
  padding: 20px;
  width: 540px;
  min-width: 540px;
  max-width: 540px;
}

.c-eventview-weekpicker--callout {
  .ms-DatePicker-day--today {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important;
  }

  .ms-DatePicker-day--highlighted {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important;

    button {
      background-color: inherit !important;
      color: inherit !important;
      font-weight: inherit !important;
      border: none !important;
      outline: none !important;
    }
  }

  table tbody tr:hover {
    td {
      background: #f3f2f1 !important;
      color: #201f1e !important;
    }

    * {
      cursor: pointer !important;
    }
  }
}
