.root {
  .container {
    display: flex;
    margin: 6px 15px 0 8px;

    .actionItem {
      margin: 0 5px 0 0;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
