.projectColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 4px 0 4px 0;

  &.mobile {
    padding: 0px;
    .content {
      .link {
        font-size: 10pt;
        margin: 0;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 6px;
  }

  .eventActions {
    margin: 5px 0 0 0;
  }
}
