<div class="jumbotron">
  <div className="container">
    <div className="row">
      <div className="col-sm">
        <h2>Did 365</h2>
        <p>The calendar is your timesheet</p>
      </div>
    </div>
  </div>
</div>