<!DOCTYPE html>
<html>

<head>
  {{> head}}
</head>

<body>
  {{> nav}}
  <main role='main' class='container'>
    {{{body}}}
  </main>
  <script src='/js/vendors~did365.js?v={{package.version}}'></script>
  <script src='/js/did365.js?v={{package.version}}'></script>
</body>

</html>