body {
  padding-top: 4.5rem;
  font-family: "Segoe UI Light", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px; }

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap; }

.navbar-nav .nav-link {
  font-size: 10pt;
  letter-spacing: 1px; }

h1 {
  font-size: 36pt;
  margin: 15px 0 15px 0; }

h2 {
  font-size: 24pt;
  margin: 15px 0 15px 0; }

h3 {
  font-size: 18pt;
  margin: 15px 0 15px 0; }

h4 {
  font-size: 14pt; }

h5 {
  font-size: 10pt; }

.react-autosuggest__suggestion-match {
  color: #007bff; }

.react-autosuggest__container {
  width: 100%;
  max-height: 400px; }

.react-autosuggest__input {
  width: 100%;
  padding: 4px; }

.react-autosuggest__suggestions-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#app-admin .react-autosuggest__container {
  position: relative; }

#app-admin .react-autosuggest__input--focused {
  outline: none; }

#app-admin .react-autosuggest__suggestions-container {
  display: none; }

#app-admin .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 35px;
  width: 300px;
  border: 1px solid #aaa;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  z-index: 2; }

#app-admin .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#app-admin .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.c-eventview .c-eventview-actions {
  margin: 10px 0 10px 0; }

.c-eventview .c-eventview-statusbar {
  min-height: 40px; }
  .c-eventview .c-eventview-statusbar .c-usermessage {
    margin: 5px 0; }

.c-eventview .ms-List-cell .ms-DetailsRow {
  min-height: 53px; }
  .c-eventview .ms-List-cell .ms-DetailsRow .ms-DetailsRow-cell > span,
  .c-eventview .ms-List-cell .ms-DetailsRow .ms-DetailsRow-cell > a {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle; }

.c-resolveproject-modal {
  padding: 20px;
  width: 540px;
  min-width: 540px;
  max-width: 540px; }

.c-eventview-weekpicker--callout .ms-DatePicker-day--today {
  background-color: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  border: none !important;
  outline: none !important; }

.c-eventview-weekpicker--callout .ms-DatePicker-day--highlighted {
  background-color: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  border: none !important;
  outline: none !important; }
  .c-eventview-weekpicker--callout .ms-DatePicker-day--highlighted button {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important; }

.c-projectdetails {
  margin-top: 30px; }

.c-usermessage p {
  word-break: break-word;
  white-space: normal;
  margin: 0; }

.ms-MessageBar .ms-MessageBar-text {
  font-size: 14px; }

#app-timesheet .c-eventview-section-content .row .highcharts-container {
  margin-top: 30px; }

.ms-DetailsRow-check,
.ms-DetailsRow-cellCheck,
.ms-DetailsHeader-cellIsCheck {
  display: none; }

.ms-DetailsHeader-cellName,
.ms-GroupHeader-title {
  font-weight: 100;
  font-size: 11pt;
  letter-spacing: 1px; }

.ms-DetailsRow-cell span,
.ms-DetailsRow-cell a {
  font-size: 12px; }

.ms-FocusZone.ms-DetailsRow {
  border: none; }

div.ms-List-page .ms-GroupedList-group {
  margin-top: 20px; }

h3.panel-title a {
  color: #444; }
