.root {
  display: flex;
  flex-direction: row;

  .iconContainer {
    padding: 6px 0 0 0;
    align-self: flex-start;
  }

  .content {
    padding: 0 0 0 8px;

    .title {
      font-size: 12px;
    }

    .description {
      font-size: 10px;
    }

    .labels {
      margin: 3px 0 6px -30px;
    }
  }
}
