Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/Users/olemp/code/did/server/views/template.html' in '/Users/olemp/code/did':
  Error: Can't resolve '/Users/olemp/code/did/server/views/template.html' in '/Users/olemp/code/did'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/olemp/code/did/server/views/template.html' in '/Users/olemp/code/did'
  
  - Compilation.js:1668 
    [did]/[webpack]/lib/Compilation.js:1668:28
  
  - NormalModuleFactory.js:712 
    [did]/[webpack]/lib/NormalModuleFactory.js:712:13
  
  
  - NormalModuleFactory.js:273 
    [did]/[webpack]/lib/NormalModuleFactory.js:273:22
  
  
  - NormalModuleFactory.js:402 
    [did]/[webpack]/lib/NormalModuleFactory.js:402:22
  
  - NormalModuleFactory.js:117 
    [did]/[webpack]/lib/NormalModuleFactory.js:117:11
  
  - NormalModuleFactory.js:628 
    [did]/[webpack]/lib/NormalModuleFactory.js:628:24
  
  - NormalModuleFactory.js:782 
    [did]/[webpack]/lib/NormalModuleFactory.js:782:8
  
  - NormalModuleFactory.js:902 
    [did]/[webpack]/lib/NormalModuleFactory.js:902:5
  
  - child-compiler.js:131 
    [did]/[html-webpack-plugin]/lib/child-compiler.js:131:18
  
  - Compiler.js:534 
    [did]/[webpack]/lib/Compiler.js:534:11
  
  - Compiler.js:1087 
    [did]/[webpack]/lib/Compiler.js:1087:17
  
  
  - after-compile.js:13 
    [did]/[ts-loader]/dist/after-compile.js:13:13
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [did]/[webpack]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1083 
    [did]/[webpack]/lib/Compiler.js:1083:33
  
  - Compilation.js:2424 
    [did]/[webpack]/lib/Compilation.js:2424:11
  
  
</pre><script src="/js/vendors-node_modules_apollo_client_index_js-node_modules_fluentui_react_lib_components_Breadc-abaaad.0.9.12.f800571037c30cc7a2c6.js"></script><script src="/js/did.0.9.12.f800571037c30cc7a2c6.js"></script>