.root {
  min-height: 40px;
  margin: 10px 0 0 0;

  .container {
    display: flex;
    flex-direction: row;
    .message {
      flex-grow: 1;
      flex-basis: 0;
      justify-content: space-evenly;
      margin-right: 8px;
    }
  }
}
