.root {
  width: auto;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  .checkBox {
    margin: 0 8px 0 0;
  }

  .icon {
    font-size: 12px;
    margin: 2px 6px 0 0;
  }

  .description {
    color: rgb(96, 94, 92);
    font-size: 10px;
    margin: 4px 0 0 0;
  }
}
