.root {
  .confirmPeriodButton {
    width: 180px;
    background: rgb(223, 246, 221);
    border: none;
    outline: none;
    color: rgb(50, 49, 48);
    font-weight: normal;

    &[class*='is-disabled'] {
      opacity: 0.4;
    }
  }

  .unconfirmPeriodButton {
    background: rgb(253, 231, 233);
    border: none;
    outline: none;
    color: rgb(50, 49, 48);
    font-weight: normal;
  }

  .selectPeriodButton {
    border: none;
    outline: none;
  }

  .actionBarIcon {
    font-size: 12;
    color: 'rgb(120, 120, 120)';
  }
}
