.root {
  .container {
    overflow: hidden;

    .inputField {
      margin: 8px 0 8px 0;
    }

    .inputDescription {
      color: rgb(96, 94, 92);
      font-size: 10px;
    }

    .subHeader {
      font-size: 1.2em;
      margin: 12px 0 12px 0;
    }

    .permissions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: hidden;

      .permissionItem {
        width: auto;
        margin-bottom: 8px;
      }
    }

    .actions {
      margin: 10px 0 0 0;

      .deleteBtn {
        width: 100%;
        margin: 15px 0 0 0;
      }

      .saveBtn {
        width: 100%;
        margin: 15px 0 0 0;
      }
    }
  }
}
