.root {
  .sectionTitle {
    font-size: 16px;
    margin: 0 0 8px 0;
  }

  .inputContainer {
    margin: 8px 0 8px 0;
  }

  .inputDescription {
    color: rgb(96, 94, 92);
    font-size: 10px;
  }

  .permissions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;

    .permissionItem {
      width: auto;
      margin-bottom: 8px;
    }
  }
}
