.root {
  .container {
    padding: 10px 0 0 0;

    .viewTypeSelector {
      min-width: 120px;
    }

    .rangeSlider {
      width: 400px;
      margin-left: 10px;
      align-self: 'center';
    }
  }
}
