.c-eventview {
  .c-eventview-actions {
    margin: 10px 0 10px 0;
  }

  .c-eventview-statusbar {
    min-height: 40px;

    .c-usermessage {
      margin: 5px 0;
    }
  }

  .ms-MessageBar.ms-MessageBar-multiline{
    background:#f1f1f1;
    &.ms-MessageBar--warning{
      background-color: rgba(255, 200, 10, 0.2);  
    }
  }

  .ms-MessageBar-icon {
    display: flex;
    align-self: center;
  }

  .ms-List-page {

    div.ms-List-cell {
      min-height: 0;
      .ms-DetailsRow {
        min-height: 45px;

        .ms-DetailsRow-cell {
          font-size: 1.2em;
          display: flex;
          align-items: center;

          span,
          a {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.c-resolveproject-modal {
  padding: 20px;
  width: 540px;
  min-width: 540px;
  max-width: 540px;
}

.c-eventview-weekpicker--callout {
  .ms-DatePicker-day--today {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important;
  }

  .ms-DatePicker-day--highlighted {
    background-color: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
    border: none !important;
    outline: none !important;

    button {
      background-color: inherit !important;
      color: inherit !important;
      font-weight: inherit !important;
      border: none !important;
      outline: none !important;
    }
  }
}