.root {
  width: 100%;
  height: 55px;
  background: #252422; // Eerie black

  .container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    height: 100%;

    @media (min-width: 576px) {
      max-width: 540px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 500px;
      padding-left: 8px;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
    }

    .navRight {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
    }

    .logo {
      align-self: center;

      img {
        height: 37px;
        margin-top: 5px;
      }
    }
  }
}

.root.mobile {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 100;
  height: 60px;
  padding-bottom: 10px;
  background-color: #363533;

  .container {
    padding: 0 6%;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      padding-left: 0;
    }

    .logo {
      align-self: center;

      img {
        height: 24px;
      }
    }
  }
}
