.root {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 8px;

  .link {
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;

    .navIcon {
      display: none;
    }

    &:hover {
      color: #bbb;
    }

    &.active {
      color: #cf5f00;
    }
  }
}

.root.mobile {
  .link {
    width: 100%;

    .navText {
      display: none;
    }

    .navIcon {
      display: flex;
      color: #f1f1f1;
      font-size: 18px;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    &.active {
      .navIcon {
        color: #cf5f00;
      }
    }
  }
}
