.root {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 8px;

    .link {
        display: flex;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;

        .navIcon {
            display: none;
        }

        &:hover {
            color: #bbb;
        }

        &.active {
            color: #cf5f00;
        }
    }
}

.root.mobile {
    margin:0;
    width: 100%;
    .link {
        width: 100%;
        display: flex;
        height: calc(100% - 2px);
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .navIcon {
            display: flex;
            color: #f1f1f1;
            font-size: 1.4rem;
            height: 1.4rem;
            -webkit-font-smoothing: subpixel-antialiased;
        }

        .navText {
            display:none;
        }

        &.active {
            border-top: 2px solid #cf5f00;
            .navIcon {
                color: #cf5f00;
            }
            .navText {
                font-size: 10px;
            }
        }
    }
}