.root {
  margin: 0;
  padding: 10px;
  min-width: 250px;

  .header {
    padding: 0 0 0 8px;
    display: flex;
    flex-direction: row;

    .iconContainer {
      padding: 6px 12px 0 0;
      align-self: flex-start;
    }

    .title {
      font-size: 13pt;
      margin: 0;
    }

    .subTitle {
      font-size: 8pt;
      margin: 0 0 10px 0;
    }
  }

  .description {
    margin: 8px 0 8px 0;
  }

  .labels {
    margin: 4px 0 10px 0;
  }

  .footer {
    display: flex;
    flex-direction: row;
    margin: 8px 0 0 0;
    color: rgb(96, 94, 92);
    font-size: 12px;

    .link {
      flex-grow: 1;
    }

    .tag {
      font-weight: 500;
      text-align: right;
    }
  }
}
