.projectHeader {
  .container {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;

    .breadcrumb {
      flex: 1 1 0;

      a {
        color: inherit !important;
      }
    }
  }
  .description {
    margin: 15px 0 15px 0;
  }
}
