.userMessage {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .alert {
    padding: 10px;
    max-width: 100%;

    .text {
      width: 100%;
      word-wrap: break-word;
      white-space: pre-wrap;
  
      >p {
        max-width: inherit;
        white-space: inherit;
        margin: 0;
      }
    }
  }

  &.hasContextMenu {
    cursor: context-menu;
  }

  .header {
    margin: 0 0 8px 0;
  }
}