.root {
    display: flex;
    font-size: 1.7rem;
    align-items: center;
    justify-items: left;
    padding: 0px 8px 10px 8px;

    .headerIcon {
        display: flex;
        color: #cf5f00;
        -webkit-font-smoothing: subpixel-antialiased;
        margin-right: 10px;
    }

    .headerText {
        color: #252422; // DEV
        display: flex;
        font-weight: 600;
        font-family: sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
    }
}