.root {
  padding: 20px;
  min-width: 420px;
  width: 420px;
  box-sizing: border-box;
  max-width: none;

  .header {
    margin: 0 0 25px 0;
    display: flex;
    flex-direction: row;

    .title {
      flex-grow: 1;
      
      .text {
        font-size: 18px;
      }
      
      .subText {
        font-size: 12px;
        color: rgb(96, 94, 92);
      }
    }

    .userInfo {
      margin-left: auto;
      order: 2;
    }
  }

  .customerTotals {
    margin: 12px 0 15px 0;
  }
}
