.c-Timesheet-summary {
  position: relative;

  .c-Timesheet-summary-customerDropdown {
    width: 370px;
    position: absolute;
    z-index: 999;
    top: 16px;
    left: 0;
    height: 42px;

    &:hover {
      [class*="ms-Dropdown-title"] {
        background-color: rgb(243, 242, 241);
        color: rgb(32, 31, 30);
      }
    }

    [class*="ms-Dropdown-title"] {
      border: none;
      height: 42px;
      padding: 6px 0 0 8px;
    }

    [class*='ms-Dropdown-caretDownWrapper'] {
      padding: 6px 0 0 0;
    }
  }
}
