.navigation {
  width: 100%;
  height: 55px;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 50;

  .container {
    width: calc(100% - 10px);
    margin: 0;
    margin-left: 10px;
    display: flex;
    height: 100%;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 500px;
      padding-left: 8px;
      font-family: 'Space Grotesk', Inter, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji';
    }

    .navRight {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
    }

    .logo {
      height: 45px;
      width: 45px;
      display: inline-block;
    }
  }

  &.mobile {
    backface-visibility: hidden;
    position: fixed;
    bottom: 0px;
    top: auto;
    width: 100%;
    z-index: 100;
    height: 60px;
    padding-bottom: 20px;
    border-top: 1px solid #cccccc;
    background-color: #363533;

    .container {
      padding: 0;
      margin: 0;
      width: 100%;

      .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding-left: 0;
        height: 100%;
        margin-top: 0;
      }

      .logo {
        align-self: center;
        display: none;
      }
    }
  }
}
