.periodColumnTooltip {
  padding: 20px;
  min-width: 240px;
  width: 240px;
  box-sizing: border-box;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 25px 0;
    padding: 0 10px 0 0;

    .userAvatar {
      justify-content: flex-end;
    }
  }

  .customerTotals {
    margin: 12px 0 15px 0;
  }
}
