.summaryView {
  [class*="ms-DetailsRow-cell"] {
    background: transparent;
    align-self: center;
    padding: 0px 12px;

    span,
    a {
      font-size: 1em;
    }
  }

  [class*="ms-List-cell"] {
    min-height: 0;
    [class*="ms-DetailsRow"] {
      min-height: 45px;
      border: none;
      background: transparent;
      [class*="ms-DetailsRow-cell"] {
        display: flex;
        align-items: center;

        span,
        a {
          vertical-align: middle;
        }
      }
    }
  }
}


.popoverContent.eventList {
  max-height: 200px;
  overflow-y: auto;
}