@{
    ViewBag.Current = "Home";
}

<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {
        <h4>Welcome @ViewBag.User.DisplayName!</h4>
    }
    else
    {
        @Html.ActionLink("Sign in", "SignIn", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
    }
</div>