.root {
  display: flex;
  flex-direction: column;
  .name {
    font-weight: 500;
    margin-bottom: 0;
  }
  .customer {
    color: #787878;
    font-weight: 400;
    margin: 0 0 8px 0;
  }
  .description {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .actions {
    display: flex;
    margin: 10px 0 10px 0;
    .buttonContainer {
      margin: 0 5px 0 0;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
