.pendingInvitations {
  margin: 16px 0;


  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin-top: 16px;
  }

  .card {
    padding: 12px;
    display: flex;
    flex-direction: column;
  }

  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
  }

  .infoRow {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 8px;
  }

  .noInvitations {
    padding: 30px;
  }
}