.root {
  position: inherit;

  .inputLabel {
    margin: 0 0 8px 0;
  }

  .selectedLabels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >div {
      margin-bottom: 5px;
    }
  }

  .toggleIcon {
    float: right;
    cursor: pointer;
  }

  .noneSelected {
    font-size: 12px;
    color: #586069;
  }
}
