.root {
    width: 90%;

    &.mobile {
        .content {
            .projectLink {
                font-size: 10pt;
                margin: 0;
            }

            .subText {

                span,
                a {
                    font-size: 9pt;
                    margin: 0;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: row;

        .subText {
            font-size: 7pt;
        }

        .labelIcon {
            margin: 0 0 0 6px;
            align-self: center;
        }

        .clearButton {
            margin: 0 0 0 4px;
        }
    }
}