.root {
  padding: 8px 0 0 0;

  &.hasError {
    .field {
      border: 1px solid rgb(164, 38, 44);
    }
  }

  .description {
    padding: 4px 0 0 0;
    color: rgb(96, 94, 92);
    font-size: 10px;
  }

  .errorMessage {
    animation-name: css-1, css-14;
    animation-duration: 0.367s;
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
    animation-fill-mode: both;
    font-size: 12px;
    font-weight: 400;
    color: rgb(164, 38, 44);
    margin: 0px;
    padding-top: 5px;
    display: flex;
    align-items: center;
  }
}