.callout {
  margin: 0;

  .suggestionContainer {
    .suggestion {
      padding: 4px 16px;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background-color: #cf5f00;
        color: #fff;
        font-weight: 500;
      }
    }
  }
}
