.footer {
    margin: 0;
    background-color: var(--colorNeutralBackground1) !important;
    bottom: 0px;
    flex-shrink: 0;
    transition: opacity 0.367s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;

    &.hasBorder {
        border-top: 1px solid rgb(234, 234, 234);
    }

    &.isSticky {
        position: sticky;
    }

    .footerInner {
        &.padded {
            padding: 16px 24px;
        }

        .actions {
            display: flex;
            justify-content: flex-start;
            gap: 5px;
        }
    }
}
