.root {
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
        letter-spacing: 0.2rem;
        font-size: 4rem;
        margin-top: 1rem;
        padding: 0rem 0.9rem 0.2rem 1rem;
        background-color: #252422;
        color: #ffffff;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
            sans-serif, Apple Color Emoji, Segoe UI Emoji;
        font-weight: 600;
        -webkit-font-smoothing:subpixel-antialiased;
    }

    .motto {
        font-size: 30px;
        font-weight: 700;
        color: #252422;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
        margin: 2rem 5rem 4rem 5rem;
        font-style: italic;
    }

    .signinbutton {
        font-size: 1rem;
        text-decoration: none;
        background-color: #cf5f0022;
        padding: 8px 10vw 10px 10vw;
        border-radius: 20px;
        line-height: 1;
        color: #cf5f00;
        border: 1px solid #cf5f0088;
        transition: all .2s;

        &:hover {
            background-color: #cf5f00;
            color: #f1f1f1;
        }
    }
}