name: Build and deploy to didapp/dev

on:
  push:
    branches:
      - dev
    paths:
      - 'server/**'
      - 'client/**'
      - 'shared/**'
      - 'webpack/**'
      - 'package.json'
      - '.deployment'
      - '.deploy/**'

jobs:
  package:
    name: Package did
    runs-on: ubuntu-latest
    concurrency: 
      group: ${{ github.ref }}_on_push_dev_deploy
      cancel-in-progress: true
    if: "!contains(github.event.head_commit.message, '[no-ci]')"

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ vars.NODE_VERSION }}

    - run: |
        npm ci --no-audit --no-fund --loglevel=error

    - name: Create package
      run: |
        npm run package
      env:
        NODE_ENV: production
        INCLUDE_NODE_MODULES: '0'
        INCLUDE_PACKAGE_LOCK_FILE: '0'

    - uses: actions/upload-artifact@v3
      with:
        name: did-package
        path: ./did-package.zip

  deploy_azure:
    name: Deploying to Azure
    runs-on: ubuntu-latest
    needs: package
    environment:
      name: 'dev'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v2
      with:
        name: did-package

    - name: 'Deploy package to didapp/dev'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'didapp'
        slot-name: 'dev'
        publish-profile: ${{ secrets.DIDAPP_DEV_PUBLISH_PROFILE }}
        package: ./did-package.zip