.root {
  max-width: 450px;

  .inputElement {
    margin: 14px 0 0 0;
    width: 100%;
    border-radius: 3px;
  }

  .iconPicker {
    margin: 14px 0 0 0;
    width: 100%;
    max-width: 300px;
  }
}
